$soft-cream: #F7F8F1;
$forest-moss: #3D6B58;
$sage-leaf: #A3B899;
$dark-text: #2D3436;

$white:    #fff;
$black:    #000;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-600: #6c757d;
$gray:     $gray-600;
