// Import page-specific CSS files here.
@import "home";

.pet-index-container {
  padding-top: 100px;
  padding-bottom: 60px;
  max-width: 900px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.card-index {
  background-color: $sage-leaf;
  border-radius: 22px;
  border: none;
  color: white;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);


  .avatar-section, .action-section {
    flex: 0 0 120px;
    display: flex;
    justify-content: center;
  }

  .action-section {
    justify-content: flex-end;
  }

  .name-section {
    flex: 1;
    text-align: center;

    a {
      color: white !important;
      text-decoration: none;
    }
  }

  // force all icons to be white
  i, h3, h2 {
    color: white !important;
  }
}
