@import "home";

.pet-index-container {
  padding-top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdfaf5;


  .index-title, h3 {
    width: 90%;
    text-align: center;
    color: #2d3436;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .index-title {
    font-size: 1.8rem;
  }


  h3 {
    font-size: 1.4rem;
    margin-top: 15px !important;
  }
}

.clinic-address {
  color: #3D6B58;
  font-size: 0.8rem;
}
