.logs-index-container{
  padding-top: 0px;
  width: 100%;
  background-color: #fdfaf5;
}

.logs-index-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logs-index-headbar {
  position: sticky;
  top: 3rem;
  background: white;
  z-index: 500;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.06);
  width: 90%;
}

.logs-index-headbar .my-3 table {
  margin: 0 auto;
}

.sort-none {
    border: 2px solid #666;
    border-radius: 8px;
    padding: 2px;
    color: #666;
    text-decoration: none;
    margin-right: 5px;
    font-size: 0.7rem;
  }

.sort-asc {
  border: 2px solid #A3B899;
  border-radius: 8px;
  padding: 2px;
  color: #A3B899;
  font-weight: bold;
  margin-right: 5px;
  font-size: 0.7rem;
}

.sort-desc {
  border: 2px solid #3D6B58;
  border-radius: 8px;
  padding: 2px;
  color: #3D6B58;
  font-weight: bold;
  margin-right: 5px;
  font-size: 0.7rem;
}

.card-logs{
  background-color: #a3b899;
  border-radius: 22px;
  padding: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.06);
  width: 80%;
  max-width: 500px;

  table{
    width: 100%;
    table-layout: fixed;
  }

  form{
    background: none;
    padding: 0px;
    border: none;

  }
}

.card-log-today{
  border: 2px solid #3D6B58;
}

.logs-all{
  width: 100%;
  padding-top: 5px;
  padding-bottom: 160px !important;
}

.log-trash{
  color: white;
  padding: 0px;

}

.export-logs-card {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  background: white;
  box-shadow: 0 -4px 10px rgba(0,0,0,0.1);
  z-index: 1000;

  display: flex;
  justify-content: center;
    // align-items: center;
    // gap: 20px;

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .date-range-selector, .language-selector {
      display: flex;
      flex-direction: column;
      flex: 1 1 120px;
      font-size: 0.9rem;
    }

    .date-range-selector label, .language-selector label {
      margin-bottom: 4px;
      font-weight: 500;
      font-size: 0.8rem;
    }

    input, select {
      padding: 6px 10px;
      border-radius: 8px;
      border: 1px solid #ddd;
      width: 100%;
      max-width: 100%;
    }
  }
}

.export-logs-submit {
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 0.9rem;
}

.export-logs-submit:hover {
  background-color: #d5d3d3;
}
