.pet-show-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdfaf5;
  padding-top: 20px;
}

.pet-hero-section {
  width: 100%;
  text-align: center;
  margin-top: 0 !important;
  margin-bottom: 0px;


  .splide {
    margin-top: 0;
  }
}

turbo-frame#pet_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.details-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: $dark-text;
  margin-top: 5px;
  margin-bottom: 25px;
}

.vital-grid {
  display: grid;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto 20px auto;
  gap: 15px;
  grid-template-columns: 1fr 1fr;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
  }
}

.pet-actions-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 20px auto;
  width: 100%;
  flex-wrap: wrap;
}

.pet-details-container h2, .pet-show-container h2 {
  font-weight: 500 !important;
  font-size: 1.4rem;
  margin-top: 25px;
}
