.pet-show-container {
  width: 100%;
  background-color: $soft-cream;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
  padding-top: 70px;
}

turbo-frame#pet_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pet-hero-section {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin-bottom: 0px;

  h1 {
    font-size: 2.8rem;
    color: $dark-text;
    margin-top: 10px;
  }
}

.details-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: $dark-text;
  margin-top: 5px;
  margin-bottom: 25px;
}

.vital-grid {
  display: grid;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto 20px auto;
  gap: 15px;
  grid-template-columns: 1fr 1fr;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
  }
}

.pet-actions-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 20px auto;
  width: 100%;
  flex-wrap: wrap;
}
