<div class="pet-index-container">
  <h1 class="index-title">Your Pets!</h1>
  <div class="pet-cards-wrapper">
    <% @pets.each do |pet| %>
      <%= link_to user_pet_path(current_user, pet), class: "card-index-link" do %>
        <div class="card-index">
          <% if pet.photo.attached? %>
            <%= cl_image_tag pet.photo.key, crop: :fill, class: "avatar-index-large" %>
          <% else %>
            <div class="avatar-index-large placeholder">
              <i class="fa-solid fa-paw"></i>
            </div>
          <% end %>
          <div class="name-section-wrapper">
            <h2 class="pet-name-index"><%= pet.name %></h2>
          </div>
          <i class="fa-solid fa-calendar-plus"></i>
        </div>
      <% end %>
    <% end %> <%# Loop ends here, BEFORE the Vet section %>
  </div>
  <%# Moving the Vet section OUTSIDE the pet loop so it only appears once %>
  <h3 class="mt-4">Your Connected Veterinarians</h3>
  <div class="vet-card-custom">
    <%= image_tag "https://res.cloudinary.com/rts1307/image/upload/v1771606859/development/gregoryhouse.jpg", class: "avatar-vet" %>
    <div class="name-section-wrapper">
      <div class="vet-name-index">Patrick Gregory House</div>
      <div class="vet-languages">Languages: English, Spanish</div>
    </div>
    <i class="fa-solid fa-comment"></i>
  </div>
</div>
