// Basic small circle avatar
.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}


.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.splide {
  visibility: visible !important; 
  width: 100%;
  position: relative;
}

.splide__track {
  padding: 60px 0 !important; 
  overflow: visible !important; 
}

.avatar-wrapper {
  flex-shrink: 0; 
}
