hr {
  margin-top: 0px;
}

.avatar-small.overlap {
  margin-left: -15px;
}

.col-4 {
  padding: 0px;
  padding-left: 4%;
}

.col-5 {
  padding: 0px;
}

.col-3 {
  padding: 0px;
}

.chat-avatars {
  .overlap-left {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 15px;
  }

  .overlap-right {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}
