hr {
  margin-top: 0px;
}

.avatar-small.overlap {
  margin-left: -15px;
}

.col-4 {
  padding: 0px;
  padding-left: 0px;
}

.col-5 {
  padding: 0px;
}

.col-3 {
  padding: 0px;
}

.chat-avatars {
  .overlap-left {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5px;
  }

  .overlap-right {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.new-chat-button {
  position: fixed;
  bottom: 3.5rem;
  right: 0.3rem;
  background-color: $sage-leaf;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    font-size: 40px;
    color: $forest-moss;
  }
}
