// 1. Navigation Header
.pet-nav-header {
  background-color: $forest-moss;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);

  .nav-content {
    width: 100%;
    max-width: 1000px;
    padding: 18px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    a { color: white; text-decoration: none; font-size: 1.3rem; display: flex; align-items: center; }
    i { cursor: pointer; }
  }
}
