// COLORS FIRST
@import "config/colors";
@import "config/fonts";

// BOOTSTRAP VARIABLES
@import "config/bootstrap_variables";

// EXTERNAL LIBRARIES
@import "bootstrap";
@import "font-awesome";

// YOUR CSS PARTIALS
@import "components/index";
@import "pages/index";

@import "components/navbar";
@import "components/avatar";
@import "components/cards";
@import "components/buttons";
@import "components/layout";
@import "pages/show";
@import "components/log_rating";
@import "components/avatar_carousel";
@import "components/chat_show";
@import "components/chat_new";

.auth-container {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $soft-cream;
  min-height: 100vh;
}

#loading-overlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  visibility: hidden; /* Hidden by default */
}

/* The spinning circle */
.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
// comment
